body {
	font-size: 16px;
	min-width: 280px;
	padding: 0 20px;
	font-family: 'Baskerville', 'Book Antiqua', 'Georgia';
}

.content {
	max-width: 640px;
	margin: 50px auto;
	text-align: justify;
}

.title {
	text-align: center;
	margin: 0 0 30px 0;
}

.title p {
	font-family: 'Poiret One', 'Arial';
	font-weight: 900;
	margin: 0;
}

.title img {
	width: 50%;
	max-width: 200px;
}

h1, h2 {	
	font-family: 'Voltaire', sans-serif;
	font-size: 64px;
	font-weight: normal;
	margin: 0.2em 0 0 0;
}

h2 {
	font-size: 24px;
	text-align: center;
	border-bottom: 1px solid #eee;
	margin: 0.2em 0 0.5em 0;
	padding-bottom: 0.2em;
	clear: both;
}

a {
	color: #729d34;
	text-decoration: none;
}

a:hover {
	position: relative;
	top: -1px;
	left: -1px;
	text-shadow: 2px 2px 3px rgba(139,195,58,0.2);
}

a:visited {
	color: #729d34;
}

a.forkme:hover {
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
	font-family: 'Voltaire', sans-serif;
}

.separator {
	width: 70px;
	height: 19px;
	background: url(../assets/mustache.png) no-repeat 0 0;
	display: block;
	margin: 40px auto 40px auto;
}

code {
	white-space: pre;
	font-family: monospace;
	font-size: 14px;
	background-color: rgb(249,252,246);
	display: block;
	padding: 0.5em;
	overflow-x: auto;
	margin: 0 0 1em 0;
}

.nav {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
}