{
	"extends": "eslint:recommended",
	"env": {
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"indent": [ "error", "tab", { "SwitchCase": 1 }],
		"quotes": [ "error", "single" ],
		"linebreak-style": [ "error", "unix" ],
		"semi": [ "error", "always" ],
		"no-mixed-spaces-and-tabs": [ "error", "smart-tabs" ],
		"object-shorthand":  [ "error", "always" ],
		"no-const-assign": "error",
		"no-class-assign": "error",
		"no-this-before-super": "error",
		"no-var": "error",
		"quote-props": [ "error", "as-needed" ],
		"one-var": [ "error", "never" ],
		"prefer-arrow-callback": "error",
		"arrow-spacing": "error",
		"no-cond-assign": "off"
	}
}
