{
	"extends": "eslint:recommended",
	"env": {
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"arrow-spacing": "error",
		"linebreak-style": [ "error", "unix" ],
		"no-mixed-spaces-and-tabs": [ "error", "smart-tabs" ],
		"no-class-assign": "error",
		"no-cond-assign": "off",
		"no-const-assign": "error",
		"no-constant-condition": [ "error", { "checkLoops": false } ],
		"no-this-before-super": "error",
		"no-var": "error",
		"object-shorthand":  [ "error", "always" ],
		"one-var": [ "error", { "initialized": "never" } ],
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"quotes": [ "error", "single", { "avoidEscape": true, "allowTemplateLiterals": true } ],
		"quote-props": [ "error", "as-needed" ],
		"semi": [ "error", "always" ],
		"no-useless-escape": 0
	}
}
