{
	"extends": "eslint:recommended",
	"env": {
		"es6": true
	},
	"plugins": [
		"prettier"
	],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": [ "error", { "printWidth": 100 } ],
		"linebreak-style": [ "error", "unix" ],
		"no-mixed-spaces-and-tabs": [ "error", "smart-tabs" ],
		"no-class-assign": "error",
		"no-cond-assign": "off",
		"no-const-assign": "error",
		"no-constant-condition": [ "error", { "checkLoops": false } ],
		"no-this-before-super": "error",
		"no-var": "error",
		"object-shorthand":  [ "error", "always" ],
		"one-var": [ "error", { "initialized": "never" } ],
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"no-useless-escape": 0
	}
}
