# OS junk
.DS_Store

# Dependencies
node_modules/

# Debugging directory
sandbox/*
!sandbox/_base.html
!sandbox/_sandbox.css
!sandbox/sample/

# Gobble directories
.gobble
.gobble-build
.gobble-watch
.build
.publish

# Performance tests
perf/control/*
!perf/control/.empty

# Log files
*.log
