# OS junk
.DS_Store

# Dependencies
node_modules/

# Debugging directory
sandbox/*
!sandbox/index.html

# Temporary directories
tmp/

# Build directory
build/

# Gobble directories
.gobble
.gobble-build
.gobble-watch

# Performance tests
perf/control/*
!perf/control/.empty

# Log files
*.log
