# OS junk
.DS_Store

# Dependencies
node_modules/
package-lock.json # for now

# Debugging directory
sandbox/*
!sandbox/index.html

# Gobble directories
.gobble
.gobble-build
.gobble-watch
.build
.publish
build
tmp

# Performance tests
perf/control/*
!perf/control/.empty

# Log files
*.log
