<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<title><%= moduleName %> | Ractive Test Suite</title>
	<link rel='stylesheet' href='<%= levels %>vendor/qunit.css' type='text/css' media='screen' />
</head>
<body>
	<div id='qunit'></div>
	<div id='qunit-fixture'></div>

	<script src='<%= levels %>vendor/qunit.js'></script>
	<script src='<%= levels %>vendor/qunit-html.js'></script>
	<script src='<%= levels %>vendor/simulant.js'></script>
	<script src='<%= levels %>vendor/require.js'></script>

	<script>
		_modules = [ '<%= moduleName %>' ];
	</script>

	<script>
<%= runTestsjs %>
	</script>
</body>
</html>
