ul {
	padding: 0;
}

li {
	list-style-type: none;
}

li:before {
	content: "\25A0";
	font-size: 1.6em;
	padding: 0 0.2em 0 0;
	position: relative;
	top: 0.1em;
}

.Conservative:before {
	color: blue;
}

.Labour:before {
	color: red;
}