<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<title>Ractive Test Suite</title>
	<link rel='stylesheet' href='qunit.css' type='text/css' media='screen' />
</head>
<body>
	<div id='qunit'></div>
	<div id='qunit-fixture'></div>

	<script src='qunit.js'></script>
	<script src='qunit-html.js'></script>
	<script src='simulant.js'></script>

	<script src='../ractive-legacy.js'></script>

	<script>
		var fixture = document.getElementById( 'qunit-fixture' );
		QUnit.config.reorder = false;
	</script>

	${scriptBlock}
</body>
</html>
