<!DOCTYPE HTML>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<title>${name} | Ractive Test Suite</title>
	<link rel='stylesheet' href='/test/qunit.css' type='text/css' media='screen' />
</head>
<body>
	<div id='qunit'></div>
	<div id='qunit-fixture'></div>

	<script src='/test/qunit.js'></script>
	<script src='/test/qunit-html.js'></script>
	<script src='/test/simulant.js'></script>

	<script src='/ractive-legacy.js'></script>

	<script>
		var fixture = document.getElementById( 'qunit-fixture' );
		QUnit.config.reorder = false;
	</script>

	<script src='${testModule}'></script>
</body>
</html>
