body {
	font-family: 'Helvetica Neue', 'Arial';
	font-size: 16px;
	color: #333;
	line-height: 1.5em;
}

p {
	margin: 0 0 1em 0;
}

a {
	text-decoration: none;
	color: rgb(50,150,255);;
}

a span {
	font-size: 0.6em;
	position: relative;
	bottom: 0.1em;
}

.back {
	display: block;
	border-bottom: 1px solid #eee;
	padding: 0.5em;
	margin: 0 0 1em 0;
}

#output {
	background-color: rgb(250,250,250);
	border-radius: 0.5em;
	padding: 0.5em;
}

#output:before {
	content: 'result';
}

#output img {
	max-width: 100%;
}

#template, #script {
	display: block;
	overflow-x: auto;
	white-space: pre;
	font-family: monospace;
	background-color: rgb(250,250,250);
	margin: 0 0 1em 0;
	border-radius: 0.5em;
	padding: 0.5em;
	font-size: 14px;
}

#template:before, #script:before, #output:before {
	display: block;
	border-bottom: 1px solid rgb(240,240,240);
	padding-bottom: 0.5em;
	font-family: 'Helvetica Neue', 'Arial';
	font-weight: bold;
	border-radius: 0.5em;
	margin-bottom: 1em;
}

#template:before {
	content: 'template';
}

#script:before {
	content: 'script';
}

.main {
	padding: 0 1em;
}

.notes {
	border-bottom: 1px solid #eee;
	padding: 0.5em 1em;
	margin: 0 0 1em 0;
}

.notes code {
	display: block;
	background-color: rgba(0,0,0,0.02);
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0 0 1em 0;
	font-size: 14px;
	font-family: monospace;
}

#consoleExpander {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0.2em;
	font-family: monospace;
	font-size: 14px;
	margin: 0 0 1em 0;
}

#consoleMirror {
	white-space: pre;
	overflow-x: scroll;
	line-height: 1.2em;
	font-size: 14px;
}

#consoleMirror:after {
	content: 'Enter to run, Shift-Enter for newline';
	position: absolute;
	right: 0;
	bottom: -1.3em;
	z-index: 2;
	font-size: 0.7em;
	font-family: 'Helvetica Neue', 'Arial';
	color: #999;
}

textarea {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #eee;
	background-color: rgb(253,253,253);
	border-radius: 2px;
	width: 100%;
	height: 100%;
	font-family: monospace;
	padding: 0.2em;
	font-size: 14px;
	margin: 0 0 1em 0;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.1);
	line-height: 1.2em;
}