{
	"env": {
		"node": true,
		"qunit": true
	},
	"globals": {
		"Ractive": true,
		"fixture": true
	},
	"rules": {
		"no-var": "off",
		"object-shorthand": "off",
		"prefer-arrow-callback": "off"
	}
}
